/* ==========================================================================
  Custom 
   ========================================================================== */
.e-content {
    font-family: '雅黑', 'Noto Sans SC', 'Tillana', 'Long Cang', cursive;
    font-weight: 400;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Noto Sans SC', 'Tillana', 'Long Cang', cursive;
        margin-top: 1.5rem !important;
    }

    ;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    pre,
    blockquote,
    dl,
    table,
    address {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    ;
}

.entry-excerpt {
    font-family: 'Tillana', 'Long Cang', cursive;

}

code.highlighter-rouge {
    color: #d14;
    border: 1px solid #e1e1e8;
}

div.highlight {
    border: 1px solid #e1e1e8;
    border-radius: 2px;

}